body {
	
	min-height: 100vh;
	font-family: 'Quicksand', sans-serif;
	max-width: 100vw;
	margin: 0 5%;
	background-color: #971b1b;
	background-image: linear-gradient(rgb(0, 0, 0), #101b41);
	display: flex;
	justify-content: center;
	align-items: center;
}

#bio-title {
	color: #fff;
	text-shadow:
		/*  0 0 1px #fff, */
		0 0 2px #fff,
		0 0 5px #fff,
		0 0 11px #09b37a,
		0 0 21px #09b37a,
		0 0 26px #09b37a,
		0 0 21px #09b37a,
		0 0 35px #09b37a;
}