body {
	color:  black;
	/*   font-family: 'EB Garamond', serif; */
	font-family: 'Quicksand', sans-serif;
	max-width: 100vw;
	margin: 0 5%;
	background-color: #000000;
  background-image: linear-gradient(rgb(0, 0, 0),#101b41);
	}

.navbar {	
	background-color: #0A1026;
	position: fixed;
	height: 80px;
	top: 0;
	left: 0;
	width: 100vw;
	padding: 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
}

.navbar__list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 40px 80px 0 0;
	padding: 0;
}

.navbar__li {
	padding: 0 10px;
}

.navbar__link {
	text-decoration: none;
	color: #fff;
  text-shadow:
    /*  0 0 1px #fff, */
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 11px #09b37a,
    0 0 21px #09b37a,
    0 0 26px #09b37a,
    0 0 21px #09b37a,
    0 0 35px #09b37a;
	font-size: 12px;
	font-family: 'Quicksand', sans-serif;
  	font-weight: 700;
}

.navbar__link:hover {
	transition: all ease 1s; 
	color: #F9494F;
}

.welcome-section {
	background-color: #0A1026;
	margin: 100px auto 40px auto;
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
  text-shadow:
    /*  0 0 1px #fff, */
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 11px #09b37a,
    0 0 21px #09b37a,
    0 0 26px #09b37a,
    0 0 21px #09b37a,
    0 0 35px #09b37a;
}

.welcome-section__text {
	margin: 0;
	font-size: 40px;
	font-family: 'Quicksand', sans-serif;
  	font-weight: 500;
}

.welcome-section__subtext {
	font-size: 26px;
}

.project {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-column-gap: 5vw;
	grid-row-gap: 5vw;
/* 	background-color: #af1010; */
	margin: 60px auto 40px auto;
	position: relative;
	align-items: center;
}

.project-tile {
	box-sizing: border-box;
	position: relative;
	/* border:  solid pink; */
}

.projects__img {
	display: block;
	box-sizing: border-box;
	width: 100%;
	position: relative;
 	
}


.projects__img:hover {
  	transition: all ease 1s; 
	width: 100%;
	cursor: pointer;
	box-shadow: 0 0 30px #FD7479;
}

.projects__img:hover {
	z-index: 9999;
}

.link-area  {
	background-color: #03030f;
	height: 120px;
	display: flex;
	justify-content: center;
	color: #484D5C;
	margin: 20px auto 0 auto;
	padding-top: 20px;
}

.link-area__link {
	height: fit-content;
	text-decoration: none;
	padding: 10px 25px;
	background-color: #101b41;
	color: #fff;
  text-shadow:
    /*  0 0 1px #fff, */
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 11px #09b37a,
    0 0 21px #09b37a,
    0 0 26px #09b37a,
    0 0 21px #09b37a,
    0 0 35px #09b37a;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 16px;
}

.link-area__link:hover {
	background-color: #FFD660;
	transition: all ease 1s;
}

.closing-line {
	font-size: 12px;
	font-family: 'garamond', sans-serif;
	text-align: center;
}

@media (max-width: 700px) {
	.project {
		display: flex;
		flex-direction: column;
	}
	body {
		margin: 0 2%;
	}

}

@media (min-width: 1300px) {
	body {
		margin: 0 6%;
	}
}

@media (min-width: 1500px) {
	body {
		margin: 0 8%;
	}
}